@use "../helpers/helpers" as h;
@use "./sso/sso" as sso;
@use "./qr/qr" as qr;

.euis {
  width: 70vw;
  height: auto;
  min-height: 80vh;
  border-radius: 2rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 0.85fr;
  padding: 1.7rem 1.7rem 1.7rem 2.4rem;
  gap: 2.4rem;

  .sso {
    @include sso.sso();
  }

  .qr {
    @include qr.qr();
  }
}

@media (max-width: 767.98px) {
  .euis {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 0;
    padding: 2.6rem 3.2rem;
  }
}
